#root {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.movie-detail {
  height: 100%;
}

.movie-detail ul li {
  list-style: none;
}

.movie-detail h3 {
  color: coral;
}

.full {
  height: 100vh;
}
